header {
  background: linear-gradient(90deg, rgba(67,76,242,1) 0%, rgba(2,20,105,1) 100%);
}

header h1 {
  color: white;
  font-weight: 700;
}

form {
  border-bottom: 1px solid black;
}

.container {
margin: 1rem;
}

#city-info {
  border: 1px solid black;
}